# Dependencies
node_modules
.pnpm-store

# Build output
dist
build

# Environment files
.env
.env.*
env.json

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode
.idea

# TypeScript
*.tsbuildinfo

# Vite
vite.config.ts.timestamp-*

# Cache
.cache
.temp

# DFX / ICP (if using backend)
.dfx
.local

# Coverage
coverage

# Misc
*.pem